.mobile
    .container
        .use
            h3 EVERYTHING ON MOBILE
            h4 Use your android or
                br
                | ios device to
                br
                | manage everything.
            p Silent sir say desire fat him letter. Whatever
                br
                | settling goodness too and honoured she building
                br
                | answered her. Strongly thoughts remember mr to
                br
                | do consider.
        .img
            img(src="../../assets/img/mobile.svg")

        .productivity
            .btn
                button
                    img(src="../../assets/img/triangle.svg")
                button
                    img(src="../../assets/img/triangle-right.svg")

            .product
                div
                    h3 Productivity
                    h3 Payment
                    h3 Management

                .content
                    p Silent sir say desire fat him letter. Whatever
                        br
                        | settling goodness too and honoured she building
                        br
                        | answered her. Strongly thoughts remember mr to
                        br
                        | do consider.

