.stories
    .container
        h3 5.000+ TEAMS TRUST XPIDER
        h4 People love xPider.
            br
            | See some of the stories.
        .content
            .director
                p “Life before xPider was very
                    br
                    | chaotic — we got a lot of phone
                    br
                    | calls, a lot of mistyped orders. So
                    br
                    | with Company, the ability to see
                    br
                    | the order directly from the
                    br
                    | customer makes it so
                    br
                    | streamlined.”
                div Frank Hardy
                    span Creative Director
                img(src="../../assets/img/logo-airbnb.svg")
            .img
                img(src="../../assets/img/director.png")
                div
                    div
                    div
                    div

