.free
    .container
        h2 Try xPider for 14 days, for free!
        p Millions of people around the world have already made xPider the
            br
            | place where their works happens.
        div
            input(placeholder="Enter your email to start")
            button GET STARTED
        span No credit card required.
