.easy
    .container
        h3 XPIDER MAKES YOUR LIFE EASY
        h4 Make your life easy, get a better
            br
            | way to communicate.
        .cards
            .card
                div
                    img(src="../../assets/img/p-heart.svg")
                h5 One Platform,
                    span Solves Everything
                p Now it had seen unable uneasy. Drawings
                    br
                    | can followed by improved out sociable not.
                    br
                    | Earnestly so do instantly pretended.
                a Get xPider Now
                    |
                    img(src="../../assets/img/tail-right.svg")

            .card
                div
                    img(src="../../assets/img/grid.svg")
                h5 Fastest Management,
                    span Easy to Organize
                p Now it had seen unable uneasy. Drawings
                    br
                    | can followed by improved out sociable not.
                    br
                    | Earnestly so do instantly pretended.
                a Find Out More
                    |
                    img(src="../../assets/img/tail-right.svg")
