header
    .container
        include ../../components/nav/nav

        h1 Organize your remote
            br
            | team with xPider. Move fast.
        p When you need a kickstart in your business and you have no time for coding for
            br
            | your website, xPider will take that job for you and will build a great looking
            br
            | website in minutes.

        .btn
            button GET STARTED IT'S FREE
            a
                img(src="../../assets/img/play.svg")
                | Watch our video

