.choose
    .container
        h3 WHY CHOOSE XPIDER?
        h4 A simple, proven way to boost
            br
            | your team performance.
        .reasons.container
            .rsn
                h5
                    img(src="../../assets/img/family.svg")
                    | One Platform
                p
                    span No more Multiple Platforms.
                    |  Now it had seen
                    br
                    | unable uneasy. Drawings can followed by
                    br
                    | improved out sociable not. Earnestly so do
                    br
                    | instantly pretended.
            .rsn
                h5
                    img(src="../../assets/img/b-meeting.svg")
                    | Communication
                p
                    span No more hassle in communication.
                    |  New had
                    br
                    | happen unable uneasy. Drawings can followed
                    br
                    | improved out sociable not. Earnestly so do
                    br
                    | instantly pretended.
            .rsn
                h5
                    img(src="../../assets/img/filter-organization.svg")
                    | Project Management
                p
                    span Easily manage your projects.
                    |  Drawings can
                    br
                    | followed improved out sociable not. Earnestly so
                    br
                    | do instantly pretended. See general few civilly
                    br
                    | amiable pleased account carried.

