.footer-top
    .shape
        img(src="../../assets/img/net.png")
    .container
        .navs
            div
                img(src="../../assets/img/logo-red.svg")
            .company
                p Company
                ul
                    li
                        a About Us
                    li
                        a Careers
                    li
                        a Blog
                    li
                        a Press
                    li
                        a Brand Guidelines
            .product
                p Product
                ul
                    li
                        a Why xPider?
                    li
                        a Enterprise
                    li
                        a Customer Stories
                    li
                        a Pricing
                    li
                        a Security
            .resource
                p Resources
                ul
                    li
                        a Download
                    li
                        a Help Center
                    li
                        a Guides
                    li
                        a Partners
                    li
                        a Events
.footer-bottom
    .container
        .navs
            ul
                li
                    a Status
                li
                    a Privacy & Terms
                li
                    a Contact Us
        .socials
            .lang
                img(src="../../assets/img/Bitmap.svg")
                span English
            .social
                a
                    img(src="../../assets/img/fb.svg")
                a
                    img(src="../../assets/img/twitter.svg")
                a
                    img(src="../../assets/img/dribbble.svg")
