.guide.container
    h3 MORE THAN A SOFTWARE
    h4 The proper guide that helps you
        br
        | to unlock the real potential.
    .content
        img(src="../../assets/img/people.png")
        .opportunities
            .opportunity
                h5
                    img(src="../../assets/img/book-open.svg")
                    | Installation Guide
                p No more Mulitple Platforms. Now it had seen
                    br
                    | unable uneasy. Drawings can followed by improved
                    br
                    | out sociable not. Earnestly so do instantly
                    br
                    | pretended.
            .opportunity
                h5
                    img(src="../../assets/img/phone.svg")
                    | Live Call Support
                p No more Mulitple Platforms. Now it had seen
                    br
                    | unable uneasy. Drawings can followed by improved
                    br
                    | out sociable not. Earnestly so do instantly
                    br
                    | pretended.
            .opportunity
                h5
                    img(src="../../assets/img/preferences-circle.svg")
                    | Easy Setup Process
                p No more Mulitple Platforms. Now it had seen
                    br
                    | unable uneasy. Drawings can followed by improved
                    br
                    | out sociable not. Earnestly so do instantly
                    br
                    | pretended.

