.help.container
    .manage
        h3 MANAGE YOUR TEAM
        h4 xPider helps you to manage your team remotely!
        p Silent sir say desire fat him letter. Whatever settling goodness
            br
            | too and honoured she building answered her. Strongly thoughts
            br
            | remember mr to do consider debating. Spirits musical behaved
            br
            | on we he farther letters.
        a Find out more
            |
            img(src="../../assets/img/tail-right.svg")
    .img
        img(src="../../assets/img/video.svg")
