nav
    img(src="../../assets/img/logo.svg")
    a(role="button")
        img(src="../../assets/img/menu.svg")

    .content
        ul
            li
                a Features
            li
                a Pricing
            li
                a Pages
                    img(src="../../assets/img/arrow-down-sign-to-navigate.svg")
        button Get started now

